<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileAggregateViews" patch:source="Sitecore.ExperienceProfile.Reporting.config">
        <pipelines>
          <latest-visitors>
            <processor type="Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.QueryLatestVisitorsFromSearch, Sitecore.Cintel"  set:type="Sitecore.Support.Cintel.Reporting.Aggregate.Visitors.Processors.QueryLatestVisitorsFromSearch, Sitecore.Support.163186">
              <BatchSize>10</BatchSize>
            </processor>
          </latest-visitors>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>